.footer{
    background-color: #3a3e64;

}

.footer_inner{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0 110px;
}

.footer_item{
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.footer_title{
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;

}
.footer_address{
    color: rgba(255,255,255,0.5);
    font-style: normal;
    line-height: 1.5;
}
.footer_text{
    margin-bottom: 5px;

    color: rgba(255,255,255,0.5);
    
}
.footer--link{

    border: 2px solid #fff;
    color:#fff;
}
.footer--link:hover{
    background-color: #fff;
}

.footer_copyright{
    padding: 20px 0;
    
    background-color: #313454;

    line-height: 1.5;
    text-align: center;
}

.fa-heart{
    color:#e84545;
}
.copyright_name{
    color: #fff;
}