body{
    margin:0;
    background-color: #fff;

    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    color:#6c7279;
}

*,
*:before,
*:after{
    box-sizing: border-box; /*подсчёт блока с учётом padding*/

}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    
    font-weight: 400;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
